.backgroundDiv{
    height: 100vh;
    display: flex;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
}

.registerDiv{    
    height: 600px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;
    padding: 0;
}

.registerDiv input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    text-indent: 10px;
    font-size: medium;
}